<!--添加js CDN的文件-->
<!--<script src="https://cdn.bootcdn.net/ajax/libs/less.js/4.1.1/less.js"></script>-->

<script src="/public/js/less.min.js"></script>
<script src="/public/js/template-web.js"></script>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>

{{block 'differentJavascriptLink'}}



