<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{include './header.html'}}

    <!--继承不同的css样式-->
    {{block 'differentStyle'}}

    <script src="/public/js/showdown.min.js"></script>

    {{/block}}
</head>
<body>


<!--相同模板的头部bar-->
{{include './navbar.html'}}


<!--内容-->
{{include './content.html'}}


{{block 'differentJavascriptLink'}}
<script src="/public/js/index.js"></script>
{{/block}}
<!--插入页脚-->
{{include './footer.html'}}
</body>
</html>