<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <title>{{ pageName }}</title>

    {{block 'head'}} 这里是测试head{{/block}}
</head>

<body>
测试:
{{test}}
    {{include './header.html'}}
    <!-- 留一个坑 -->
    {{block 'content'}}
    <h1>默认内容</h1>
    {{/block}}


    <!-- 留给下一个去填坑 -->
    {{include './footer.html'}}
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    {{block 'script'}}{{/block}}
</body>

</html>