<div class="navBar">
    <div class="contentLimted">

        <ul>
            <li>
                <a href="/">首页
                </a>
            </li>
            <li>
                <a href="/tags">tags
                </a>
            </li>
            <li>
                <a href="/picture">相册
                </a>
            </li>
            <li>
                <a href="/artitalk">说说
                </a>
            </li>
            <li>
                <a href="/admin">管理博客
                </a>
            </li>
        </ul>
    </div>
</div>